<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-12">
    <%= image_tag(@photo.image_url) if @photo.image.present? %>
    <div>
      <h4><%= @photo.caption %></h4>
      <% if user_signed_in? && @photo.user == current_user %>
        <p>
          <%= link_to 'Edit', edit_photo_path(@photo) %>
          <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    </div>
  </div>
</div>
